
body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: beige;
    
}
.site-title h1 {

        color: hsl(132, 4%, 25%); 
        background-color: #cbe6ad;
    }
.site-title h2 {
        color: hsl(132, 4%, 25%); 
        background-color: #cbe6ad;
        
    }

#my-image {
        box-shadow: horizontal 0 vertical 0 2px 1px #000;
    }
    .square-bullets  {
        list-style-type: square;
        padding-left: 20px;
    } 
    
    .hobbies-list li:nth-child(odd) {
        background-color: hsl(134, 29%, 62%); /
    }
  a {
    color: #ffffff;
    background-color: rgb(87, 8, 75);
    margin: 30;
    border-radius: 2px;
    text-decoration: none;
    
}
    a:hover {
        color: #f5f5f5;
        background-color: #6a884aee;
        text-decoration: none;
      }

    header, footer {
        background-color:#8d9f6f; 
        background-image: url("../images/texura-01.png") ;
        background-position: 10px 6px;
        background-size: cover;
        color: hwb(120 12% 83%); 
        padding: 20px; 
        text-align: center; 
        text-decoration-color: #8d9f6f;
    }